* {
  border-radius: 15px;
}

window {
  font-size: 22px;
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
}

#entry {
  padding: 0.25em;
}

#entry:selected {
  background-color: #ffffff;
  background: linear-gradient(90deg, #bbccdd, white);
  border-radius: 10px;
}

#text:selected {
  color: black;

}

#input {
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
  font-size: 20px;
}
